* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #311898;
    width: 100vw;
    height: 100vh;
}

.container {
    /* display: flex; */
    background-color: rgb(189, 224, 224);
    width: 100vw;
    height: 100vh;
}

.headerContainer {
    /* background: aqua; */
    width: auto;
    height: 100px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 200px auto;
}

.logo {
    /* background: blue; */
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.navBar {
    
}

.logo img {
    width: 200px;
    height: auto;
    border-radius: 10px 15px;
}

.animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.animation .one {
    left: 40%;
    top: -276px;
    animation: MoveX 5s ease infinite;
}

@keyframes MoveX {

    100%,
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(30px, -70px);
    }
}

.animation .two {
    left: -211px;
    top: 105px;
    animation: MoveY 5s ease infinite;
}

@keyframes MoveY {

    100%,
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-70px);
    }
}

.animation .three {
    left: 70%;
    top: 70px;
    animation: MoveX 6s ease infinite;
}

.animation .circle.four {
    width: 387px;
    height: 387px;
    display: block;
    border-radius: 50%;
    background: #6F1898;
    opacity: 0.8;
    position: fixed;
    right: -5%;
    top: -15%;
    filter: blur(70px);
}