*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
    width: 100%;

}

.container{
    margin: auto;
    padding: auto;
    background: #d9e3e8;
    height: 200px;
}

.header{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    /* font-weight: 50; */
    font-size: 2rem;
    margin-top: 20px;
}
.header2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:100;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin-bottom: 15px;
}

.header3{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav{
    
}

.nav a{
    color: black;
    text-decoration: none;
    padding: 20px;
}

#nav2{
    
}