*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
    width: 100%;
}

.container{
    margin: auto;
    padding: auto;
    /* background: #d9e3e8; */
    /* height: 200px; */
}

.header{
    /* height: 130px; */
    display: flex;
    flex-direction: column;
    background: #D1D3C9;
    height: 200px;
    /* justify-content: center;
    align-items: center; */
}

.header1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Tangerine', serif;
    font-weight: 500;
    font-style: oblique;
    /* font-weight: 50; */
    font-size: 5rem;
    margin-top: 20px;
}

.header1 p{
    background: linear-gradient(to right, #2E2E2E, #BFBFBF, #0077B6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:400;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: "Lobster", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.header3{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
    font-size: 1.3rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: black;
}


.nav1{
    width: 60%;
    display: flex;
    gap: 20px;
    
}

.header a{
    cursor: pointer;
}
.nav1 a {
    text-decoration: none;
    color: black;
}